{{! 标签云 }}
<div class="widget">
	{{!-- <div class="widget-title">
		<div class="widget-title-meta">
			<i class="fa fa-tags"></i>&nbsp;
			<span class="title-meta-word">{{t "Tag Cloud"}}</span>
		</div>
	</div> --}}
	{{!-- <div class="search-content">
		<div style="width:300px; display: table">
			<form style="display:flex; width:100%" autocomplete="off">
				<input id="search-field" style="flex:2"/>
				<input type="submit" value="search" style="width:80px; align:right">
			</form>
			<div id="s-results"></div>
		</div>
	</div> --}}


	<div class="search-box">
		<div class="search-box-inside">
			<form class="search-form">
				<input type="text" id="search-field" class="search-field" placeholder="Type your keywords…">
				<input type="submit" class="search-submit" value="Search">
			</form>
			<div id="search-results" class="search-results"></div>
		</div>
	</div>
</div>
